:root {
    --chta-main-color: #1C797D;
}

.chatina__connect {
    display: block;
    background-color: #1c797d;
    color: #fff;
    border: unset;
    padding: 20px 40px;
    font-size: 17px;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-top: 45px;
    font-size: 20px;
    margin: 0 auto;
}

.chatina__connect:hover {
    color: #fff;
}

.chatina__connect-logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.mwtc-ltr .chatina__connect-logo {
    margin-right: 10px;
    margin-left: initial;
}

.chatina .chatina__connected {
    font-size: 23px;
    margin-bottom: 1em;
    text-align: center;
    color: #1C797D;
    display: block;
    font-weight: 600;
    display: block;
}

.chatina__disconnect-text,
.chatina__connect-text {
    text-align: center;
    margin-top: 3em;
    display: block;
    font-size: 18px;
}

.chatina__disconnect-link {
    display: block;
    color: #d61b1b;
    border: 1px solid #d61b1b;
    text-decoration: unset;
    padding: 20px 40px;
    border-radius: 20px;
    transition-duration: .2s;
    width: max-content;
    margin: 0 auto;
    font-size: 20px;
}

.chatina__disconnect-link:hover {
    color: #fff;
    background-color: #d61b1b;
}

.chatina.mwtc_admin_settings_wrapper {
    min-height: 100px;
    width: 95%;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper {
    width: 25%;
    margin: 0 0 0 20px;
}

.chatina.mwtc_admin_settings_wrapper.mwtc-ltr .mwtc_sidebar_wrapper {
    margin: 0 20px 0 0;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar {
    background-color: #fff;
    border-radius: 10px;
    min-height: 100px;
    padding: 30px 0;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar .mw_logo_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar .mw_logo_section .mw_logo img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: transparent;
    box-shadow: 0 7px 20px rgba(45, 205, 228, .3);
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar .mw_logo_section .mw_hello {
    font-size: 16px;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li {
    margin: 5px 15px;
    border-radius: 10px;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li a {
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: none;
    padding: 17px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    color: #595959;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li a .menu-icon {
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: cover;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li.active {
    background-color: var(--chta-main-color);
    color: #fff;
    position: relative;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li.active a,
.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li:hover a {
    color: #fff;
}

.chatina.mwtc_admin_settings_wrapper.mwtc-rtl .mwtc_sidebar_wrapper .sidebar ul li.active::after {
    left: 10px;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li.active::after {
    content: "";
    display: block;
    width: 5px;
    height: 60%;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 14px;
    right: 10px;
    left: initial;
}

.chatina.mwtc_admin_settings_wrapper.mwtc-rtl .mwtc_sidebar_wrapper .sidebar ul li.active::after {
    right: initial;
    left: 10px;
}

.chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper .sidebar ul li:not(.active):hover a {
    background-color: var(--chta-main-color);
}

/* content */
.chatina.mwtc_admin_settings_wrapper .content_wrapper {
    flex: auto;
    width: 75%;
}

.chatina.mwtc_admin_settings_wrapper .content_wrapper .content {
    min-height: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
}

.chatina.mwtc_admin_settings_wrapper .content_wrapper .content .option_section {
    padding: 50px;
    border-radius: 5px;
}

.chatina.mwtc_admin_settings_wrapper .content_wrapper .content .option_section:nth-of-type(2n) {
    background-color: #F9F9F9;
}

.chatina.mwtc_admin_settings_wrapper .content_wrapper .content .option_section:not(:first-of-type) {
    margin: 15px 0;
}

.chatina.mwtc_admin_settings_wrapper .content_wrapper .content .option_section .option_section_title {
    margin: 0 30px 30px;
    font-size: 20px;
    position: relative;
}

.chatina.mwtc_admin_settings_wrapper .content_wrapper .content .option_section .option_section_title::before {
    content: "";
    display: block;
    width: 15px;
    height: 30px;
    background-color: #b6d8d8;
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.chatina.mwtc_admin_settings_wrapper.mwtc-rtl .content .option_section .option_section_title::before {
    right: -30px;
    left: initial;
}

.chatina.mwtc_admin_settings_wrapper.mwtc-ltr .content .option_section .option_section_title::before {
    left: -40px;
    right: initial;
}

@media (max-width: 575.98px) {
    .chatina.mwtc_admin_settings_wrapper {
        flex-wrap: wrap;
    }

    .chatina.mwtc_admin_settings_wrapper .content_wrapper,
    .chatina.mwtc_admin_settings_wrapper .mwtc_sidebar_wrapper {
        width: 100%;
    }

    .chatina.mwtc_admin_settings_wrapper.mwtc-rtl .mwtc_sidebar_wrapper,
    .chatina.mwtc_admin_settings_wrapper.mwtc-ltr .mwtc_sidebar_wrapper {
        margin: 0 0 20px 0;
    }
}