.chatina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 52px);
    flex-direction: column;
}

.chatina__connect {
    margin-top: 20px;
    display: block;
    background-color: #1c797d;
    color: #fff;
    border: unset;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    max-width: 100%;
}

.chatina__connect:hover {
    color: #fff;
}

.chatina__connect-logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.chatina .chatina__connected {
    font-size: 20px;
    margin-bottom: 1em;
    text-align: center;
    color: #1c797d;
    display: block;
}